<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style = 'color: red'>TESTE PDF</h1>
    <hr>
    <p>conteúdo do pdf</p>
    <p>Nome: <%= nome %> </p>
    <p>Curso: <%= curso %>  </p>
    <p>Categoria: <%= categoria %> </p>
    <img src = 'https://www.fazendoartesanato.com.br/produtos/fotos/grande/1858-$_12.jpg'/>

</body> 
</html>